// Fonts 

$primary-font: 'Lato' ;
$second-font:'Montserrat';

// Font-color

$primary-font-color: #000000;
$second-font-color:#ffffff;
$third-font-color: #2860FF;
$fourth-font-color: #86898F;
$fifth-font-color: #FFA400;
$sixth-font-color: #021168;


//Background colors

$primary-bg: #ffffff;
$second-bg: #2860FF;
$third-bg: #EDF0FF;
$fourth-bg: #FFD9D9;
$fifth-bg:#000000;
$sixth-bg: #FFE6E6;

// Breakpoints 

$breakpoints-sm:576px;
$breakpoints-md:768px;
$breakpoints-lg:992px;
$breakpoints-xl:1200px;


//Container
$container-max-widths-sm:540px;
$container-max-widths-md:720px;
$container-max-widths-lg:960px;
$container-max-widths-xl:1040px;

$min-width: 280px;
$full-width: 1260px;



