.page-header {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  min-width: $min-width;
  padding: 0.667em 1.111em 0.667em 1.111em;

  background-color: $second-bg;

  @include media-breakpoint-up(md) {
    padding-top: 1.389em;
    padding-bottom: 1.389em;
  }
  @include media-breakpoint-up(xl) {
    max-width: $full-width;
    margin: 0 auto;
    padding: 1.389em 2.778em;

    border-radius: 0 0 0.556em 0.556em;
  }
}

.page-header__image {
  width: 116px;
  height: 17px;

  @include media-breakpoint-up(md) {
    width: 174px;
    height: 24px;
  }
}

.page-header__navigation {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    margin-left: auto;
  }
}

.page-header__button {
  width: 100px;
  margin-left: auto;

  font-size: 0.667em;
  line-height: 2.583em;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 1.417em;

  @include media-breakpoint-up(md) {
    width: 110px;
    margin-left: 0;

    font-size: 0.778em;
    line-height: 2.571em;
    color: $third-font-color;

    background-color: $primary-bg;
    border-radius: 1.429em;

    &:hover {
      color: $second-font-color;

      background-color: transparent;
    }

    &:active {
      color: $third-font-color;

      background-color: $primary-bg;
      opacity: 0.85;
    }
  }
}
