.requirement {
  min-width: $min-width;
  margin: 0 auto;
  margin-bottom: 2.5em;
  padding: 0 1.111em;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
  }
  @include media-breakpoint-up(xl) {
    flex-direction: column;
    width: 50%;
    margin-bottom: 5.556em;
    padding: 0 2.778em;
  }
}

.requirement__group {
  @include media-breakpoint-up(md) {
    width: 45%;
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
  }
  &:first-child {
    margin-bottom: 2.222em;
  }
}

.requirement__title {
  position: relative;

  margin-bottom: 0.833em;
  padding-left: 1.722em;

  font-size: 1em;
  line-height: 1.222em;

  @include media-breakpoint-up(xl) {
    margin-bottom: 0.952em;

    font-size: 1.167em;
    line-height: 1.429em;
  }

  &--correct::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url("../../img/correct-icon.svg");
    background-repeat: no-repeat;
  }

  &--wrong::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url("../../img/wrong-icon.svg");
    background-repeat: no-repeat;
  }
}
.requirement__hidden {
  display: none;
}

.requirement__list {
  padding-left: 1.111em;

  list-style: disc;
}

.requirement__item {
  margin-bottom: 1.250em;

  font-weight: 400;
  font-size: 0.889em;
  line-height: 1.375em;

  @include media-breakpoint-up(xl) {
    margin-bottom: 1.111em;

    font-size: 1em;
    line-height: 1.444em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
